In [1]:
patterns = ['가위', '보', '보','가위', '가위', '가위','보','가위','바위','보']

In [2]:
for pattern in patterns:
    print(pattern)

가위
보
보
가위
가위
가위
보
가위
바위
보

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
names = ['철수', '영희','바둑이','귀도']

for i in range(4):
    name = names[i]
    print('{}번:{}'.format(i+1, name))

1번:철수
2번:영희
3번:바둑이
4번:귀도

In [10]:
names= ['철수', '영희', '바둑이','귀도', '비단뱀']

for i in range(len(names)):
    name  = names[i]
    print('{}번:{}'.format(i+1, name))

1번:철수
2번:영희
3번:바둑이
4번:귀도
5번:비단뱀

In [12]:
for i, name in enumerate(names):
    print('{}번:{}'.format(i+1,name))

1번:철수
2번:영희
3번:바둑이
4번:귀도
5번:비단뱀

In [13]:
range(10)

range(0, 10)

In [14]:
print(range(5))

range(0, 5)

In [15]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
list(range(3,50,4))

[3, 7, 11, 15, 19, 23, 27, 31, 35, 39, 43, 47]

In [17]:
for x in range(5):
    print(x)

0
1
2
3
4

In [18]:
for data in range(1,10,2):
    print(data+1)
    print(data*2)

2
2
4
6
6
10
8
14
10
18

In [20]:
for letter in 'PYTHON':
    print(letter)

P
Y
T
H
O
N

In [21]:
for alpha in 'sogang':
    y = alpha.upper()
    print(y)

S
O
G
A
N
G

In [22]:
for x in [1,3,5,7,9]:
    print(x)

1
3
5
7
9

In [28]:
for i in [1,2,3,4,5]:
    for y in [2,4,6,8,10]:
        print(i*y, end= '   ')
    print()

2   4   6   8   10
4   8   12   16   20
6   12   18   24   30
8   16   24   32   40
10   20   30   40   50

In [29]:
for a in (6,2,9,8):
    print(a)

6
2
9
8

In [31]:
for a in (1,2,3,4):
    for b in (5,6,7):
        print(a+b, end=' ')
    print()

6 7 8
7 8 9
8 9 10
9 10 11

In [32]:
for a in {3,6,4,2,8}:
    print(a)

2
3
4
6
8

In [33]:
for a in {1,2,3}:
    for b in {4,5}:
        print(a,b)

1 4
1 5
2 4
2 5
3 4
3 5

In [34]:
score= {4:90, 2:80, 1:95, 5:88, 3:92}
for x in score:
    print(x)

4
2
1
5
3

In [35]:
for x in score.keys():
    print(x)

4
2
1
5
3

In [36]:
for x in score.values():
    print(x)

90
80
95
88
92

In [37]:
for x,y in score.items():
    print(x,y)

4 90
2 80
1 95
5 88
3 92

In [38]:
L1 =[]
for x in range(1,5):
    L1.append(x)
print(L1)

[1, 2, 3, 4]

In [39]:
m1 = [x for x in range(1,5)]

In [40]:
print(m1)

[1, 2, 3, 4]

In [41]:
L2 =[]
for i in range(1,4):
    for j in range(6,8):
        L2.append((i,j))
print(L2)

[(1, 6), (1, 7), (2, 6), (2, 7), (3, 6), (3, 7)]

In [42]:
m2 = [(i,j) for i in range(1,4) for j in range(6,8)]

In [43]:
print(m2)

[(1, 6), (1, 7), (2, 6), (2, 7), (3, 6), (3, 7)]

In [44]:
colors = ['red', 'green', 'yellow', 'blue']
things = ['house', 'car', 'tree']
colored_things=[(x,y) for x in colors for y in things]
print(colored_things)

[('red', 'house'), ('red', 'car'), ('red', 'tree'), ('green', 'house'), ('green', 'car'), ('green', 'tree'), ('yellow', 'house'), ('yellow', 'car'), ('yellow', 'tree'), ('blue', 'house'), ('blue', 'car'), ('blue', 'tree')]

In [45]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2+y**2==z**2 ]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [46]:
A = [x**2 for x in range(10)]
print(A)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
b= [2**x for x in range(21)]
print(b)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576]

In [50]:
c = [x for x in A if x%2==0] 
print(c)

[0, 4, 16, 36, 64]

In [52]:
A = [j for i in range(2,8) for j in range(i*2, 100, i)]
B = [x for x in range(2,100) if x not in A]
print(B)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [56]:
a =1
sum = 0
while a <= 10:
    sum +=a
    a+=1
print('sum : ', sum)

sum :  55

In [2]:
a =1
sum=0
while a <=10:
    if a % 2 == 0:
        sum+=a
    a+=1
print('sum :', sum)

sum : 30

In [3]:
a =2
sum=0
while a <=10:
    sum +=a
    a+=2
print('sum :',sum)

sum : 30

In [4]:
a =1

while a<=30:
    if a % 3 ==0:
        print(a)
    a +=1
else :
    print('exit from while...')
print('after while')

3
6
9
12
15
18
21
24
27
30
exit from while...
after while

In [2]:
a =1

while a <= 10:
    print('a =', a)
    if a >=5:
        break
    a +=1
    
print('after while')

a = 1
a = 2
a = 3
a = 4
a = 5
after while

In [3]:
a = 1

while a <= 5 :
    print('a = ', a)
    if a>=3 : break
    a+=1
else:
    print('else in while')
print('after while')

a =  1
a =  2
a =  3
after while

In [4]:
a =1

while a <= 5:
    print('a = ',a)
    if a >=10 : break
    a +=1
else :
    print('else in while')
    
print('after while')

a =  1
a =  2
a =  3
a =  4
a =  5
else in while
after while

In [5]:
a = 0

while a <= 10 :
    a += 1
    if a%3 == 0:
        continue
    print('a= ',a)
print('after while')

a=  1
a=  2
a=  4
a=  5
a=  7
a=  8
a=  10
a=  11
after while