In [4]:
data1= 'hello \
world \
python \
programming'
print(data1)

hello world python programming

In [6]:
data2 = '''hello
world
python
programing'''

print(data2)

hello
world
python
programing

In [7]:
data3 = '''hello world
python programming'''
print(data3)

hello world
python programming

In [10]:
s= 'hello 'world''

SyntaxError: invalid syntax (<ipython-input-10-786ace755dbe>, line 1)

In [11]:
s = ' hello "world"'
print(s)

 hello "world"

In [12]:
w = '''hello 'world' '''

In [13]:
print(w)

hello 'world'

In [14]:
lang = 'python programming'

print(lang[7])

p

In [17]:
print(lang[-6])

a

In [18]:
print(lang[-9])

o

In [20]:
lang[7]=a

NameError: name 'a' is not defined

In [21]:
print(lang[7:11])

prog

In [23]:
print(lang[-16:-13])

tho

In [24]:
print(lang[-13:-16])

In [25]:
print(lang[2:-13])

tho

In [31]:
a ='hello'
b = 'world'
d = a + b
print(d)

c = a + ' '+b
print(c)

helloworld
hello world

In [32]:
subject = 'programming'
'r' in subject

True

In [33]:
'gram' in subject

True

In [34]:
'abcd' not in subject

True

In [35]:
len(subject)

11

In [36]:
name = 'alice wonderland'
name.upper()

'ALICE WONDERLAND'

In [37]:
school = 'SOANG University'
school.lower()

'soang university'

In [38]:
myname = 'alice wonderland'
myname.title()

'Alice Wonderland'

In [55]:
state ='mississippi'
state.count('s')

4

In [56]:
state.count('ssi')

2

In [59]:
state.count('i',4)

3

In [58]:
state.count('s',1, 10)

4

In [60]:
state.find('s')

2

In [61]:
state.find('i',5)

7

In [62]:
friends = ['alice', 'bob', 'cindy']
dash = '-'
dash.join(friends)

'alice-bob-cindy'

In [63]:
lists = 'alice bob cindy david'
lists.split()

['alice', 'bob', 'cindy', 'david']

In [66]:
date = '2016/12/25'
date.split('/')

['2016', '12', '25']

In [68]:
s = 'name : {0}, phone :{1}'
s.format('alice', '010-111-2222')

'name : alice, phone :010-111-2222'

In [69]:
s.format('paul', '010-123-1234')

'name : paul, phone :010-123-1234'

In [72]:
t = 'w{0}{1}t {0} wh{1}l{2}'
t.format('a','i','e')

'wait a while'

In [73]:
s = '{name} has {n} messages'
s.format(name ='Alice', n=10)

'Alice has 10 messages'

In [78]:
number = 20
greeting = '안녕하세요'
place ='문자열 포맷의 세계'
welcome= '환영합니다'

print(number,'번 손님',greeting,'.',place,'에 오신 것을', welcome,'!')

20 번 손님 안녕하세요 . 문자열 포맷의 세계 에 오신 것을 환영합니다 !

In [79]:
base = '{}번 손님, {},{}에 오신 것을 {}!'
new_way= base.format(number,greeting,place,welcome)

In [80]:
print(base)

{}번 손님, {},{}에 오신 것을 {}!

In [82]:
print(new_way)

20번 손님, 안녕하세요,문자열 포맷의 세계에 오신 것을 환영합니다!

In [85]:
mine ='가위'
yours = '바위'
result = '졌다...'

print('나는 {}, 너는 {}, 그래서 {}'.format(mine, yours, result))

나는 가위, 너는 바위, 그래서 졌다...

In [86]:
hi = 'heLLo worlD'

hi.capitalize()

'Hello world'

In [87]:
hi.upper()

'HELLO WORLD'

In [88]:
hi.swapcase()

'HEllO WORLd'

In [89]:
hi.title()

'Hello World'

In [95]:
hi.ljust(20)

'heLLo worlD         '

In [97]:
hi.rjust(30)

'                   heLLo worlD'

In [98]:
hi.center(50)

'                   heLLo worlD                    '

In [99]:
'1가a'.encode()

b'1\xea\xb0\x80a'

In [103]:
hi.startswith('hello')

False

In [104]:
hi.endswith('worlD')

True

In [105]:
hi.replace('hello', 'hi')

'heLLo worlD'

In [106]:
'abcdabcd'.find('cd')

2

In [108]:
'abcdabcd'.rfind('cd')

6

In [109]:
'abcdabcd'find('f')

SyntaxError: invalid syntax (<ipython-input-109-b40c7d5d360f>, line 1)

In [110]:
'abcdabcd'.index('cd')

2

In [111]:
'abcdabcd'.index('f')

ValueError: substring not found

In [112]:
'abcdabcdcd'.count('cd')

3

In [115]:
hii=' hello world   '

In [116]:
hii.strip()

'hello world'

In [118]:
 hii.rstrip()

' hello world'

In [119]:
hii.lstrip()

'hello world   '

In [124]:
fruit = '''apple banana
grapes,orange,tomaot,melon'''

In [125]:
fruit.split()

['apple', 'banana', 'grapes,orange,tomaot,melon']

In [126]:
fruit.split(',',2)

['apple banana\ngrapes', 'orange', 'tomaot,melon']

In [128]:
fruit.rsplit(',',2)

['apple banana\ngrapes,orange', 'tomaot', 'melon']

In [130]:
'''hello word\n hi world\n hello
land\n'''.splitlines()

['hello word', ' hi world', ' hello', 'land']

In [131]:
'hello'.zfill(10)

'00000hello'

In [132]:
A =['hello','hi']
''.join(A)

'hellohi'

In [133]:
'.'.join(A)

'hello.hi'

In [134]:
'|'.join(A)

'hello|hi'

In [135]:
sorted('hellow world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w', 'w']

In [137]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [138]:
score =[80, 90, 75,88,92]
print(score[2])

75

In [139]:
print(score[-2])

88

In [142]:
score[2] =70

In [143]:
print(score)

[80, 90, 70, 88, 92]

In [148]:
score = [80, 90, 75, 88, 92,87,65,32,87,18]
print(score[1:4])

[90, 75, 88]

In [149]:
score[:5]

[80, 90, 75, 88, 92]

In [150]:
score[6:]

[65, 32, 87, 18]

In [151]:
t = score[:]

In [152]:
print(t)

[80, 90, 75, 88, 92, 87, 65, 32, 87, 18]

In [153]:
print(score[2:9:2])

[75, 92, 65, 87]

In [154]:
L = [1,3,5,7,9]
M = [2,4,6,8]
L+M

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [155]:
L*3

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [156]:
M*2

[2, 4, 6, 8, 2, 4, 6, 8]

In [157]:
7 in L

True

In [158]:
10 in L

False

In [159]:
len(L)

5

In [160]:
len(M)

4

In [161]:
a, *b = [1,2,3,4,5]
a

1

In [162]:
b

[2, 3, 4, 5]

In [163]:
*a, b = [1,2,3,4,5]

In [164]:
a

[1, 2, 3, 4]

In [165]:
b

5

In [166]:
L = [6,8,2,9,5]
len(L)

5

In [167]:
sum(L)

30

In [168]:
max(L)

9

In [169]:
min(L)

2

In [170]:
sorted(L)

[2, 5, 6, 8, 9]

In [171]:
print(L)

[6, 8, 2, 9, 5]

In [172]:
m= sorted(L)

In [173]:
print(m)

[2, 5, 6, 8, 9]

In [174]:
L = [4,8,6,2,5,9,6,2]
L.append(10)

In [175]:
print(L)

[4, 8, 6, 2, 5, 9, 6, 2, 10]

In [176]:
len(L)

9

In [177]:
L.insert(2,7)

In [178]:
print(L)

[4, 8, 7, 6, 2, 5, 9, 6, 2, 10]

In [179]:
L.index(6)

3

In [180]:
L.count(6)

2

In [181]:
L = [4,8,6,2,5,9,6,2]
L.sort()

In [183]:
print(L)

[2, 2, 4, 5, 6, 6, 8, 9]

In [184]:
L = [4,9,1,3,2]
L.reverse()

In [185]:
print(L)

[2, 3, 1, 9, 4]

In [186]:
L =[4,8,6,2,5,9,6,2]
L .sort(reverse=True)
print(L)

[9, 8, 6, 6, 5, 4, 2, 2]

In [189]:
L = [1,3,5,7,9,11,13]
L.remove(7)
print(L)

[1, 3, 5, 9, 11, 13]

In [190]:
L.remove(10)

ValueError: list.remove(x): x not in list

In [191]:
L.pop()

13

In [192]:
print(L)

[1, 3, 5, 9, 11]

In [193]:
L.pop(2)

5

In [194]:
print(L)

[1, 3, 9, 11]

In [195]:
L.extend([15,17])

In [196]:
print(L)

[1, 3, 9, 11, 15, 17]

In [197]:
L = [1,3,5,7,9]
L.clear()

In [198]:
L

[]

In [200]:
L = [1,3,5,7,9]
id(L)

1763060429768

In [201]:
M = L

In [207]:
M[2] = 100
print(L)

[1, 3, 100, 7, 9]

In [209]:
L = [1,3,5,7,9]
N = L.copy()
N[2]= 100
print(N)

[1, 3, 100, 7, 9]

In [210]:
L = (1,3,5,7,9)
M = (2,4,6,8)
L+M

(1, 3, 5, 7, 9, 2, 4, 6, 8)

In [211]:
L*3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [212]:
M*2

(2, 4, 6, 8, 2, 4, 6, 8)

In [213]:
T = (4,3,5,7,6,5,7,4,7,2)
T.count(7)

3

In [214]:
T.index(2)

9

In [215]:
T.index(7)

3

In [216]:
a=1; b=2; c=3
print(a,b,c)

1 2 3

In [217]:
a,b,c= 1,2,3

In [218]:
(a,b,c) = (1,2,3)

In [220]:
print(a)

1

In [221]:
T = ()
T = tuple()

In [223]:
T =(1,)
type(T)

tuple

In [224]:
t={1,2,5}
t.add(2)
print(t)

{1, 2, 5}

In [225]:
type(t)

set

In [226]:
A = {4,2,6,5}
A.remove(6)

In [228]:
print(A)

{2, 4, 5}

In [229]:
A.clear()

In [230]:
print(A)

set()

In [231]:
A = {4,5,6}
5 in A

True

In [232]:
7 not in A

True

In [237]:
x ={3}

In [238]:
x.discard(3)
x

set()

In [239]:
A = {1,3,5,7}
B = {1,2,4,6,7,8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [240]:
A.intersection(B)

{1, 7}

In [241]:
A.difference(B)

{3, 5}

In [242]:
A.symmetric_difference(B)

{2, 3, 4, 5, 6, 8}

In [244]:
W = {2,4,6}
X = {1,2,3,4,5}
Y = {1,2,3,4,5,6,7,8,9}
Z = {1,3,5}

X.isdisjoint(W)

False

In [245]:
Z.isdisjoint(W)

True

In [246]:
X.issubset(Y)

True

In [247]:
Y.issuperset(X)

True

In [248]:
a = {1,3,5}
type(a)

set

In [249]:
a.add(7)

In [250]:
a

{1, 3, 5, 7}

In [251]:
b =frozenset({2,4,6})
type(b)

frozenset

In [252]:
D = {'one':1, 'two':2, 'three':3}
print(D)

{'one': 1, 'two': 2, 'three': 3}

In [253]:
sports ={'football':11, 'baseball':9}
print(sports)

{'football': 11, 'baseball': 9}

In [254]:
state = {'CA':'California', 'NY':'New York', 'UT':'Utah' }
print(state['CA'])

California

In [257]:
print(state['NY'])

New York

In [258]:
mydict = {}
type(mydict)
mydict['Math']=90
mydict['Eng']=88
print(mydict)

{'Math': 90, 'Eng': 88}

In [259]:
colorpen = {'red':2, "blue":3, "yellow":1}
colorpen['green']= 4

In [260]:
colorpen

{'red': 2, 'blue': 3, 'yellow': 1, 'green': 4}

In [261]:
del colorpen['red']

In [262]:
colorpen

{'blue': 3, 'yellow': 1, 'green': 4}

In [264]:
len(colorpen)

3

In [265]:
score

[80, 90, 75, 88, 92, 87, 65, 32, 87, 18]

In [266]:
score = {'Mae':90, 'Eng':88}
score2 =score.copy()

In [267]:
print(score)

{'Mae': 90, 'Eng': 88}

In [268]:
print(score2)

{'Mae': 90, 'Eng': 88}

In [269]:
score.clear()

In [270]:
print(score)

{}

In [271]:
print(score2)

{'Mae': 90, 'Eng': 88}

In [272]:
a = []
x = dict.fromkeys(range(4),a)
print(x)

{0: [], 1: [], 2: [], 3: []}

In [273]:
color = {'red' :1, 'blue' :3}
color.get('blue')

3

In [280]:
color.get('blue')

3

In [281]:
color.get('yellow')

In [283]:
color.get('yellow, 5')

In [285]:
print(color)

{'red': 1, 'blue': 3}

In [286]:
color.items()

dict_items([('red', 1), ('blue', 3)])

In [289]:
color = {'red':1, 'blue':3}

In [290]:
color.keys()

dict_keys(['red', 'blue'])

In [291]:
color = {'red':2, 'blue':4, 'yellow':1, 'green':3}
n = color.pop('yellow')

In [292]:
print(n)

1

In [293]:
print(color)

{'red': 2, 'blue': 4, 'green': 3}

In [294]:
m =color.pop('yellow', 5)

In [295]:
color = {'red':2, 'blue':4, 'yellow':1, 'green':3}
a = color.popitem()
print(a)

('green', 3)

In [296]:
print(color)

{'red': 2, 'blue': 4, 'yellow': 1}

In [299]:
color = {'blue': 4, 'red': 2, 'green':3}
color.setdefault('black', 5)

5

In [301]:
print(color)

{'blue': 4, 'red': 2, 'green': 3, 'black': 5}

In [304]:
color= {'red':1 ,'blue':3}
color2={'yellow':2}
color.update(color2)
print(color)

{'red': 1, 'blue': 3, 'yellow': 2}

In [305]:
color3 = {'green':3,'red':2}
color.update(color3)

In [306]:
print(color)

{'red': 2, 'blue': 3, 'yellow': 2, 'green': 3}

In [309]:
color.values()

dict_values([2, 3, 2, 3])

In [317]:
Text1 = '   python programming'

print(Text1[13])

g

In [319]:
print(Text1[10:13])

pro

In [320]:
'gram' in Text1

True

In [321]:
Text1.upper()

'   PYTHON PROGRAMMING'

In [322]:
Text1.count('p')

2

In [323]:
Text1.split()

['python', 'programming']

In [329]:
Text1.join('-')

'-'

In [330]:
Text1.replace('python','hello')

'   hello programming'