In [3]:
print 'hello'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello')? (<ipython-input-3-5a1ef41e7057>, line 1)

In [4]:
print('hello')

hello

# , 는 띄어쓰기 추가

In [6]:
print('hello','world')

hello world

In [7]:
a = 10
print('a =', a)

a = 10

In [9]:
print('m')

m

In [10]:
print('hello world')

hello world

In [13]:
print('hello \
world')

hello world

In [17]:
print('hello \'world\' !!')

hello 'world' !!

In [16]:
print('hello "world"')

hello "world"

In [18]:
print('hello \\world')

hello \world

In [19]:
print('hello \n world \n python \t programming')

hello
 world
 python 	 programming

## 문자열 : %s   정수 : %d    실수 : %f

In [20]:
name = "alice"
score = 95
print('%s got %d score' %(name,score))

alice got 95 score

In [24]:
math = 93.5
Eng = 88.3
print('math is %5.2f and Eng is %6.3f' %(math, eng))

math is 93.50 and Eng is 88.300

In [28]:
print('score is %d and gpa is %3.2f' %(85, 3.7))

score is 85 and gpa is 3.70

# input() 내장 함수

In [35]:
x = input('Enter x : ')
print(x)
x
type(x)
x = int(x)
type(x)

Enter x : 78
78

int

In [1]:
x = int(input('Enter one integer : '))

Enter one integer : 8

In [2]:
type(x)

int

In [5]:
y= float(input('Enter one float number : '))
type(y)

Enter one float number : 98.897

float

In [7]:
a = 2
b = 3

a = a + b
print(a)

5

In [9]:
a =2 
b =3

a +=b
print(a)

5

In [12]:
2 **3 **2

512

In [13]:
a = 10; b = 15; c =5
a < b

True

In [14]:
a !=b

True

In [15]:
a ==b

False

In [16]:
abs(-3)

3

In [17]:
divmod(17,4)

(4, 1)

In [18]:
pow(3,8)

6561

In [19]:
import math

In [20]:
math.fabs(-3)

3.0

In [21]:
math.factorial(10)

3628800

In [22]:
math.pow(3,5)

243.0

In [23]:
math.sqrt(9)

3.0

# 루트값

In [24]:
math.sqrt(16)

4.0

In [25]:
math.trunc(10.84654)

10

In [26]:
math.log10(1024)

3.010299956639812