In [1]:
print('hello world')

hello world

In [2]:
print("hello world")

hello world

In [3]:
print('''hihihihihihihih''')

hihihihihihihih

In [4]:
print('Hello World'
      'Hello World'
      'Hello World')

Hello WorldHello WorldHello World

In [7]:
print('Hello World' *3)

Hello WorldHello WorldHello World

In [9]:
a = 10
b = 3.5
c = 'sogang'

In [10]:
number = 20162345
score = 90
python_score= 95

In [11]:
math-score= 90

SyntaxError: can't assign to operator (<ipython-input-11-577d346e8396>, line 1)

In [12]:
math1 = 80
1math = 80

SyntaxError: invalid syntax (<ipython-input-12-d6d43d2c5023>, line 2)

In [13]:
학생수 = 50

In [14]:
print(score)

90

In [15]:
print(학생수)

50

In [16]:
a = 10; b = 20; c=30

In [17]:
print(a,b,c)

10 20 30

In [18]:
print('안녕! 나는 지구인이야. 나는 다리가 4개 있어')

안녕! 나는 지구인이야. 나는 다리가 4개 있어

In [20]:
print('안녕! 나는', '지구인','이야. 나는 다리가', 4,'개 있어')

안녕! 나는 지구인 이야. 나는 다리가 4 개 있어

In [22]:
identity = '지구인'
number_of_legs=4
print('안녕! 나는', identity, '이야. 나는 다리가', number_of_legs, '개가 있어')

안녕! 나는 지구인 이야. 나는 다리가 4 개가 있어

In [23]:
identity = '자메이카'
number_of_legs= 8
print('안녕! 나는', identity, '이야. 나는 다리가', number_of_legs, '개가 있어')

안녕! 나는 자메이카 이야. 나는 다리가 8 개가 있어

In [28]:
season = '봄'
print('지금은', season , '입니다')

지금은 봄 입니다

In [33]:
a = 23
type(a)
isinstance(a, int)
b = 0o23
c = 0x23
d = 0b1101

print(a,b,c,d)

23 19 35 13

In [34]:
x = bin(10)
y = oct(10)
z = hex(20)
print (x,y,z)

0b1010 0o12 0x14

In [35]:
a = int(5.6)
b = int(7.0)
c= int(-2.9)
d= int('15')
print(a,b,c,d)

5 7 -2 15

In [36]:
a = 123
x= float(a)
y = str(a)
print(a,x,y)

123 123.0 123

In [39]:
2**10000

19950631168807583848837421626835850838234968318861924548520089498529438830221946631919961684036194597899331129423209124271556491349413781117593785932096323957855730046793794526765246551266059895520550086918193311542508608460618104685509074866089624888090489894838009253941633257850621568309473902556912388065225096643874441046759871626985453222868538161694315775629640762836880760732228535091641476183956381458969463899410840960536267821064621427333394036525565649530603142680234969400335934316651459297773279665775606172582031407994198179607378245683762280037302885487251900834464581454650557929601414833921615734588139257095379769119277800826957735674444123062018757836325502728323789270710373802866393031428133241401624195671690574061419654342324638801248856147305207431992259611796250130992860241708340807605932320161268492288496255841312844061536738951487114256315111089745514203313820202931640957596464756010405845841566072044962867016515061920631004186422275908670900574606417856951911456055068251250406007519842261898059237118054444788072906395242548339221982707404473162376760846613033778706039803413197133493654622700563169937455508241780972810983291314403571877524768509857276937926433221599399876886660808368837838027643282775172273657572744784112294389733810861607423253291974813120197604178281965697475898164531258434135959862784130128185406283476649088690521047580882615823961985770122407044330583075869039319604603404973156583208672105913300903752823415539745394397715257455290510212310947321610753474825740775273986348298498340756937955646638621874569499279016572103701364433135817214311791398222983845847334440270964182851005072927748364550578634501100852987812389473928699540834346158807043959118985815145779177143619698728131459483783202081474982171858011389071228250905826817436220577475921417653715687725614904582904992461028630081535583308130101987675856234343538955409175623400844887526162643568648833519463720377293240094456246923254350400678027273837755376406726898636241037491410966718557050759098100246789880178271925953381282421954028302759408448955014676668389697996886241636313376393903373455801407636741877711055384225739499110186468219696581651485130494222369947714763069155468217682876200362777257723781365331611196811280792669481887201298643660768551639860534602297871557517947385246369446923087894265948217008051120322365496288169035739121368338393591756418733850510970271613915439590991598154654417336311656936031122249937969999226781732358023111862644575299135758175008199839236284615249881088960232244362173771618086357015468484058622329792853875623486556440536962622018963571028812361567512543338303270029097668650568557157505516727518899194129711337690149916181315171544007728650573189557450920330185304847113818315407324053319038462084036421763703911550639789000742853672196280903477974533320468368795868580237952218629120080742819551317948157624448298518461509704888027274721574688131594750409732115080498190455803416826949787141316063210686391511681774304792596709376

In [45]:
a = 1.5
type(a)
isinstance(a,float)
b = 2e5
print(b)
c = -2E-4
print(a, b ,c)

float('inf')
float('-inf')

200000.0
1.5 200000.0 -0.0002

-inf

In [46]:
my_name = 'python'

In [49]:
my_age = 25

In [50]:
print(my_name, '은 이제', my_age, '살')

python 은 이제 25 살

In [51]:
my_next_age = my_age + 1

In [52]:
print('내년에는', my_next_age, '살')

내년에는 26 살

In [1]:
my_name = 'Python'
my_age = '25'
print(my_name, '은 이제', my_age, '살')

Python 은 이제 25 살

In [2]:
my_next_age = my_age +1 
print('내년에는', my_next_age, '살')

TypeError: can only concatenate str (not "int") to str

In [4]:
multiply = 9+9
divide = 30/5
power = 2 **10
reminder = 15 % 4

print(multiply, divide, power, reminder)

18 6.0 1024 3

In [7]:
text = '2015' + '1991'
number = 2015 + 1991
entire = '215 + 1991'

In [8]:
print(text)
print(number)
print(entire)

20151991
4006
215 + 1991

In [9]:
five4 = 5 *1
five5 = 5 *1.0

print(five4)
print(five5)

5
5.0

In [10]:
print(6/5)
print(10/5)

1.2
2.0

In [11]:
print(6 % 5)
print(10 % 5)

1
0

In [12]:
div1 = 6/5
div2 = 6//5

In [13]:
print(div1)
print(div2)

1.2
1

In [14]:
a = 6
b = 5
print(a ==b * (a//b) + (a%b))

True

In [15]:
print(int(5.0))
print(float(5))
print(5* 1.0)

5
5.0
5.0

In [17]:
a = 21
b = 5

Sum = a + b
Multiply = a*b
divde = a /b
Remainder = a%b
power = a//b

print(Sum, Multiply, divde, Remainder, power)

26 105 4.2 1 4

In [18]:
Year = '1978'
Month = '07'
date = '07'

print(Year, '-', Month, '-', date)

1978 - 07 - 07

반올림(round), 올림(ceil), 내림(floor)

In [19]:
round(1.2)

1

In [23]:
import math

In [24]:
math.ceil(1.2)

2

In [25]:
math.floor(1.9)

1

In [26]:
a = 1
a < 0

False

In [27]:
a > 0

True

In [28]:
a ==2

False

In [29]:
a ==1

True

In [1]:
b = 'True'
c = 'False'
print(b,c)

True False

a = 3 +5j
b = 10 -2J
c = a + b
print(c)

In [2]:
a= 3 +5j
b =10 -2J
c = a+b
print(c)

(13+3j)

In [3]:
a.real

3.0

In [4]:
a.imag

5.0

In [5]:
b.conjugate()

(10+2j)

In [6]:
a.conjugate()

(3-5j)